<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>
  <div class="col-md-8">
    <h2><strong class="title"><%= @book.title %></strong></h2>
    <h3 class="author"><%= @book.author %></h3>
    <h2>Average Rating</h2>
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
    <span>Based on <%= @book.reviews.count %> reviews </span>
    <h4> Category: <%= @book.category.name %></h4>
    <h3>published by: <%= @book.user.email%></h3>
    <p class="description">
      <%= @book.description %>
    </p>
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    
      <div class="btn btn-info">
       <i class="fa fa-commenting-o" aria-hidden="true"></i>
 <%= link_to "Add Review", new_book_review_path(@book), style: 'color:white; text-decoration: none; background-color:transparent;' %>
      </div>
      <div class="btn btn-warning">
      <i class="fa fa-home" aria-hidden="true"></i><%= link_to "Home page", root_path, style: 'color:white; text-decoration: none; background-color:transparent;' %>
</div>
  <% if user_signed_in? %>
    <% if @book.user_id == current_user.id %>
    <div class="btn btn-success">
     <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <%= link_to "Edit", edit_book_path(@book), style: 'color:white; text-decoration: none; background-color:transparent;' %>
    </div>
    <div class="btn btn-danger">
     <i class="fa fa-trash-o fa-lg"></i>  
       <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"}, style: 'color:white; text-decoration: none; background-color:transparent;' %>
    </div>
          <% end %>
            <% end %>
            <div class="review">
      <%= render @book.reviews %>
      </div>
  </div>
</div>

              <script>
                $('.review-rating').raty({
                  readOnly: true,
                  score: function() {
                    return $(this).attr('data-score');
                  },
                  path: '/assets/'
                });
              </script>
              <script>
                $('.average-review-rating').raty({
                  readOnly: true,
                  score: function() {
                    return $(this).attr('data-score');
                  },
                  path: '/app/assets/images/'
                });
              </script>